body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
}

header {
  position: fixed;
  height: 70px;
  width: 100vw;
  background-color: #ffe2af;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: monospace;
  z-index: 5;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav a {
  font-size: 20px;
  color: #f96e5b;
  font-weight: 900;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
  width: 100px;
  background-color: #3f9aae;
  transition:
    height 0.8s ease,
    color 0.8s ease;
  border-radius: 20px;
}

a:hover {
  height: 40px;
  color: white;
}

header button {
  height: 35px;
  width: 95px;
  border: none;
  background-color: #f96e5b;
  border-radius: 50px;
  color: white;
  font-family: monospace;
}

header button:hover {
  background-color: #943d32;
  transition: 0.5s ease-in-out;
}

#hero * {
  margin: 0;
}

#hero {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #3f9aae, #79c9c5);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero h1 {
  color: white;
  font-size: 50px;
}
#hero h2 {
  color: white;
  opacity: 50%;
}

.picture {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture img {
  height: 300px;
  object-fit: cover;
  position: absolute;
}

.bingkai {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 20px solid #ffe2af;
  position: relative;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.bingkai img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 2s;
}

/* overlay hitam */
.bingkai::after {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0;
  transition: opacity 2s ease;
}

/* HOVER DI PARENT */
.bingkai:hover img {
  transform: rotate(30deg) scale(1.6);
}

.bingkai:hover::after {
  opacity: 0.4;
}
.bingkai p {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: monospace;
  color: white;
  opacity: 0;
  transition: opacity 2s ease; /* tetap 2 detik */
  z-index: 2; /* supaya di atas overlay */
}

.bingkai:hover p {
  opacity: 1;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#name {
  display: flex;
  align-items: center;
  gap: 20px;
}

#name button {
  height: 35px;
  width: 80px;
  border: none;
  background-color: #f96e5b;
  font-family: monospace;
  color: white;
  font-size: 17px;
  border-radius: 50px;
}

#name button:hover {
  background-color: #943d32;
  transition: 0.5s ease-in-out;
}

input {
  height: 40px;
  width: 400px;
  border-radius: 50px;
  padding-left: 10px;
}

#about-me {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #79c9c5, #ffe2af);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  width: 80%;
}

#about-me h2 {
  font-size: 40px;
  color: white;
  font-family: sans-serif;
}

.about-me {
  background-color: white;
  height: 400px;
  width: 300px;
  border-radius: 40px;
  border: 20px solid #79c9c5;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
}

.about-me img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.about-me h3 {
  margin: 10px 0 0 0;
}

.about-me div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  font-family: sans-serif;
}
#service {
  height: 100vh;
  background: linear-gradient(to bottom, #ffe2af, #f96e5b);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#service h2 {
  font-size: 40px;
  color: white;
  font-family: sans-serif;
}

#service-box {
  display: flex;
  height: 60%;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.service {
  height: 300px;
  width: 270px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: visible;
}

.service img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 40px;
  transition:
    transform 0.6s ease-in-out,
    z-index 0s;
  position: absolute;
  z-index: 2;
}

.service img:hover {
  transform: translate(160px, -70px);
  z-index: 10;
}

.service .text {
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 1;
  font-size: 20px;
  transform: translate(-90px, -90px);
}

#my-place {
  background: linear-gradient(to bottom, #f96e5b, #943d32);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#my-place h2 {
  font-size: 40px;
  color: white;
  font-family: sans-serif;
}

.my-place {
  height: 70%;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #773128;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: white;
}
