@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@theme {
  /* Pastikan tidak ada spasi di dalam nama variabel jika ingin dipanggil lewat class */
  --font-josefin: "Josefin Sans";
}
