body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.content {
  height: 100vh;
  width: 100vw;
  background-color: #f2eae0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 {
  height: 430px;
  width: 600px;
  background-color: white;
  padding: 0;
  display: flex;
  gap: 0;
  border-radius: 3%;
  overflow: hidden;
}
.container1 img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.container2 {
  display: flex;
  flex-direction: column;
  padding: 30px 32px;
}
.parfum {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #6c7289;
  margin: 0;
  margin-bottom: 25px;
}

.nama {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;
  margin: 0;
  margin-bottom: 5px;
}

.keterangan {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0;
  color: #6c7289;
}

.harga {
  display: flex;
  gap: 15px;
  align-items: center;
}

.harga_diskon {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0;
  margin: 0;
  color: #3d8168;
}
.harga_asal {
  color: #6c7289;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  text-decoration: line-through;
}
.tombol {
  margin-top: 10px;
  height: 48px;
  width: 236px;
  background-color: #3d8168;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.keranjang {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; /* bold */
  font-size: 14px;
  line-height: 100%; /* bisa juga 1 */
  letter-spacing: 0px;
  color: white;
}
@media (min-width: 320px) and (max-width: 768px) {
  body {
    height: 100%;
    width: 100%;
    background-color: #f2eae0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container1 {
    background-color: white;
    width: 343px;
    height: 611px;
    display: flex;
    flex-direction: column;
  }

  .container1 img {
    width: 100%;
    height: 38%;
  }

  .container2 {
    padding: 25px 25px;
  }

  .parfum {
    margin-bottom: 20px;
  }

  .tombol {
    width: 98%;
  }
}
